.TopBarContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .LogoContainer {
        display: flex;
        flex-direction: row;
        margin-left: 10ch;
        :nth-child(1) {
            color: #fb7e00;
            font-family: Comfortaa;
            font-size: x-large;
            cursor: pointer;
        }
        :nth-child(2) {
            color: #3fa34d;
            font-family: Comfortaa;
            font-size: x-large;
            cursor: pointer;
        }
    }
    .NavigationLinks {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5ch;
        justify-content: right;
        margin-right: 10ch;
        .NavLink {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            .HoverLine {
                display: none;
            }
            &:hover {
                .HoverLine {
                    display: block;
                }
            }
        }
    }
}
a {
    text-decoration: none;
    color: inherit;
}
